body{
    background-color: hsl(210, 46%, 95%);
}
.container{
    font-family: 'Barlow Semi Condensed';
    margin-top: 30px;
    display: flex;
    vertical-align: top;
    gap: 20px;
    justify-content: center;
}
.Daniel{
    background-color: hsl(263, 55%, 52%);
    width: 100%;
    max-width: 470px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    padding: 20px 30px;
    height: 250px;
    box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 10% top;
}
.user-info{
    display: flex;
    gap: 20px;
    vertical-align: center;
}
.image{
    width: 100%;
    max-width: 40px;
    border-radius: 30px;
    border: 2px solid white;
}
.username{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
}
.Verified{
    margin-top: 0px;
    font-size: 13px;
}
.bold-text{
    font-size: 1.2rem;
    font-weight: bold;
}
.text{
    opacity: 50%;
    margin-top: 20px;
    font-size: 13px;
}
.card1, .card2, .card4{
    color: white;
}
.card3, .card5{
    color: hsl(210, 46%, 95%)e;
}
.first-section{
    display: flex;
    gap: 20px;
}
.Jonathan{
    width: 100%;
    max-width: 190px;
    background-color: hsl(217, 19%, 35%);
    height: 250px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
}
.second-section{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.Jeanette{
    width: 100%;
    max-width: 180px;
    background-color:hsl(0, 0%, 100%);
    height: 220px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
}
.Patrick{
    background-color: hsl(219, 29%, 14%);
    width: 100%;
    max-width: 470px;
    border-radius: 10px;
    padding: 20px 30px;
    height: 220px;
    box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
}
.Kira{
    width: 100%;
    max-width: 180px;
    background-color:hsl(0, 0%, 100%);
    height: 530px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
}
@media (max-width: 600px){
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .first-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .second-section{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .Daniel{
        background-color: hsl(263, 55%, 52%);
        width: 100%;
        max-width: 251px;
        border-radius: 10px;
        justify-content: center;
        align-content: center;
        padding: 20px 30px;
        height: 390px;
        box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
    }
    .Jonathan{
        width: 100%;
        max-width: 251px;
        background-color: hsl(217, 19%, 35%);
        height: 200px;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
    }
    .Patrick{
        background-color: hsl(219, 29%, 14%);
        width: 100%;
        max-width: 251px;
        border-radius: 10px;
        padding: 20px 30px;
        height: 330px;
        box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
    }
    .Jeanette{
        width: 100%;
        max-width: 251px;
        background-color:hsl(0, 0%, 100%);
        height: 190px;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
    }
    .Kira{
        width: 100%;
        max-width: 251px;
        background-color:hsl(0, 0%, 100%);
        height: 400px;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0rem 5px 10px hsl(229, 6%, 66%);
    }
}